/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== BASE ===== */
body {
  font-family: "Canva Sans";
  background: #f6f6f6;
  color: #111;
}

/* ===== NAV ===== */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

nav {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

nav img {
  width: 110px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: auto;
}

nav a {
  text-decoration: none;
  color: #111;
  font-weight: 800;
}

nav a:hover,
nav a.active {
  text-decoration: underline;
  text-underline-offset: 6px;
}

main {
  padding-top: 90px;
}

/* ===== SECTIONS ===== */
.section {
  background: #d9a6a1;
  padding: 70px 20px;
}

.container {
  max-width: 1100px;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 900;
}

.line {
  height: 6px;
  background: #111;
  width: 80%;
  margin: 10px auto 40px;
}

/* ===== HERO ===== */
.hero {
  height: calc(100vh - 90px);
  background: url("../images/hero.jpg") center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 72px;
}

.hero p {
  font-size: 24px;
  font-weight: 800;
}

/* ===== ABOUT ===== */
.about {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.about img {
  width: 400px;
}

.about p {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
}

/* ===== MENU ===== */
.menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.card {
  border: 3px dotted white;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card img {
  width: 100px;
  border-radius: 50%;
  border: 4px solid white;
}

.price {
  background: white;
  color: black;
  padding: 10px 16px;
  font-weight: 900;
  border-radius: 12px;
}

/* ===== HOURS ===== */
.hours {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}

.hours img {
  margin-top: 30px;
  width: 600px;
}

/* ===== CONTACT ===== */
.contact {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  color: white;
}

.contact img {
  width: 500px;
}

/* ===== MOBILE ===== */
@media (max-width: 800px) {
  .menu-grid {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 56px;
  }
}
